
<!-- This is the base template for runningman applications -->

<!DOCTYPE html>

{% load static %}
{% load staticfiles %}

<html>

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="Django, Django Meetup, Python Meetup, Web Framework, Django Project">
    <meta name="author" content="Django Meetup">
    <meta name="description" content="Eating Our Own Dog Food... Django Meetup. Providing a borderless group for the Django curious, newbie and professional to share experiences in Python-Django web development.">
    <link rel="canonical" href="https://djangomeetup.com">
    <meta property="og:locale" content="en_US">
    <meta property="og:type" content="website">
    <meta property="og:title" content="Django Meetup | Python Web Developers">
    <meta property="og:description" content="Eating Our Own Dog Food... Django Meetup. Providing a borderless group for the Django curious, newbie and professional to share experiences in Python-Django web development.">
    <meta property="og:url" content="https://djangomeetup.com">
    <meta property="og:site_name" content="Django Meetup">
    <meta property="og:image" content="https://djangomeetup.com/static/anonymous/img/social_share_background.png">
    <meta property="og:image:secure_url" content="https://djangomeetup.com/static/anonymous/img/social_share_background.png">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:description" content="Eating Our Own Dog Food... Django Meetup. Providing a borderless group for the Django curious, newbie and professional to share experiences in Python-Django web development.">
    <meta name="twitter:title" content="Django Meetup | Python Web Developers">
    <meta name="twitter:site" content="@DjangoMeetup">
    <meta name="twitter:image" content="https://djangomeetup.com/static/anonymous/img/social_share_background.png">
    <meta name="twitter:creator" content="@DjangoMeetup">

    <!-- Utilise this block if you wish to add further meta data within the html head tag -->
    {% block head_meta %}
      {% if head_title is not None %}
        <title>{{ head_title }}</title>
      {% else %}
        <title>Django Meetup | Python Web Developers</title>
      {% endif %}
    {% endblock %}

    <!-- Utilise this block if you wish to add further links within the html head tag -->
    {% block head_links %}
      <link rel="shortlink" href="https://djangomeetup.com">
      <link rel="stylesheet" type="text/css" href="{% static 'anonymous/css/main.css' %}">
      <link rel="stylesheet" type="text/css" href="{% static 'glaze/glaze.css' %}">
      <link rel="stylesheet" type="text/css" href="{% static 'formality/formality.css' %}">
      <link rel="stylesheet" type="text/css" href="{% static 'events/css/events.css' %}">
      <link rel="shortcut icon" href="{% static 'anonymous/img/favicon.ico' %}" type="image/x-icon">
      <link rel="icon" href="{% static 'anonymous/img/favicon.ico' %}" type="image/x-icon">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.min.css" integrity="sha256-DOS9W6NR+NFe1fUhEE0PGKY/fubbUCnOfTje2JMDw3Y=" crossorigin="anonymous" />

      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


    {% endblock %}

    <!-- Utilise this block if you wish to add any local head links -->
    {% block head_local_links %}
    {% endblock %}

  </head>

  <body>

    <!-- Glaze dialog plugin -->
    {% include "glaze/glaze.html" %}

    <!-- Utilise this block if you wish to add html plugins -->
    {% block body_plugins %}
    {% endblock %}

    <!-- This block is where you insert your app's html -->
    {% block body %}
    {% endblock %}

    <!-- Utilise this block if you wish to add any javascript libraries-->
    {% block body_js %}
      <!-- jQuery (necessary for our custom plugins) -->
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
      <!-- Include all compiled plugins, or include individual files as needed -->
      <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.full.min.js" integrity="sha256-FEqEelWI3WouFOo2VWP/uJfs1y8KJ++FLh2Lbqc8SJk=" crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>
      <script src="{% static 'anonymous/js/main.js' %}"></script>
      <script src="{% static 'glaze/glaze.js' %}"></script>
      <script src="{% static 'events/js/events.js' %}"></script>

    {% endblock %}

    <!-- Utilise this block if you wish to add any local js -->
    {% block body_local_js %}
    {% endblock %}

  </body>

</html>
