
<footer class="footer bg-light border-top py-3">
  <div class="container">
    <a class="footer-social-anchor" href="https://t.me/DjangoMeetup" target="_blank" rel="nofollow">
      <div class="footer-social-icon telegram">&nbsp;</div>
      <div class="footer-social-label">telegram</div>
    </a>
    <a class="footer-social-anchor" href="https://twitter.com/djangomeetup" target="_blank" rel="nofollow">
      <div class="footer-social-icon twitter">&nbsp;</div>
      <div class="footer-social-label">twitter</div>
    </a>
    <a class="footer-social-anchor" href="https://medium.com/@djangomeetup" target="_blank" rel="nofollow">
      <div class="footer-social-icon medium">&nbsp;</div>
      <div class="footer-social-label">medium</div>
    </a>
    <a class="footer-social-anchor" href="https://github.com/DjangoMeetup/public-website/blob/master/README.md" target="_blank" rel="nofollow">
      <div class="footer-social-icon github">&nbsp;</div>
      <div class="footer-social-label">github</div>
    </a>
  </div>
</footer>
