.event_list-link{
	margin: 5px 5px 5px 5px;
	border-radius: 15px 15px 15px 15px;

}
.event_list-link:hover, .event_list-link:focus, .event_list-link:active {
      text-decoration: none;
      color: inherit;
      -webkit-box-shadow: 10px 10px 15px gray;
      -moz-box-shadow: 10px 10px 15px gray;
 }

.event_list-col {
	padding: 0 ! important;
	margin: 0 !important;
}

.event_list-card {
	box-sizing: border-box;
	border-radius: 15px 15px 15px 15px;
	width: 100%;
	overflow: hidden;
	/*margin-bottom: 5px;*/
	/*padding: 0;*/
}


.event_list-calendar{
	box-sizing: border-box;
	min-width: 90px;
}

.event_list-details{
	box-sizing: border-box;
}

.event_list-month{
	background-color: #f44245;
	text-align: center;
	border-radius: 4px 4px 0 0;
	margin-bottom: 0;
	border-style: solid;
	border-width: 3px 3px 0 3px;
}

.event_list-date{
	border-style: solid;
	border-width: 3px 3px 3px 3px;
	border-radius: 0 0 4px 4px;
	text-align: center;
}