{% extends 'anonymous/base_page.html' %}

{% block page %}
<br>
<div class="container">
<h1>Events:</h1>
{# listing all the events #}
<div class="container-fluid">
	<div class="row" style="justify-content: center;">
            {% for event in event_list %}
            <div class="col-md-6 col-lg-4 mx-3">
            	<div class="card">
            		{% if event.image %}
	            		<img class="card-img-top" src="{{ event.image.url }}">
	            	{% else %}
	            		<h1>Image</h1>
	            	{% endif %}
            		<div class="card-body row">

            			<div class="col-sm-1">
							<div class=row style="background-color: red;">
								<h5 id="event_list-month">{{ event.day.month }}</h5>
							</div>
							<div class="row" id="event_list-date" style="background-color: orange;">
								<h3>{{ event.day.day }}</h3>
							</div>            				
            			</div>
            			<div class="col">
            				<h4>{{ event.name }}</h4>
								<p><i class="fa fa-map-o"></i> {{ event.address }}</p>
								<p id='event-date'><i class="fa fa-clock-o" aria-hidden="true"></i> {{ event.day.time }}</p>
            				
            			</div>

            		</div>
            	</div>
            {% endfor %}
        </div>
</div>
{% for event in event_list %}


<div class="container rounded" style="border-style:solid;
    border-width:0.2em">
    	
	<h2><a href="{% url 'events:event_specifics' slug=event.slug %}">{{ event.name }}</a></h2>
    </div>
	
</div>
{% endfor %}

{% endblock %}