{% extends 'anonymous/base_page.html' %}

{% block page %}
<br>
<div class="container">
<h1>Events:</h1>
{# listing all the events #}
<div class="container-fluid">
	<div class="row no-gutters" style="justify-content: center;">
            {% for event in event_list %}
            <a href="{% url 'events:event_specifics' slug=event.slug %}">
                

            <div class="col-md-6 col-lg-4 mx-3 no-gutters event_list-col">
            	<div class="card event_list-card">
            		{% if event.image %}
	            		<img class="card-img-top" src="{{ event.image.url }}">
	            	{% else %}
	            		<h1>Image</h1>
	            	{% endif %}
            		<div class="card-body row" >

            			<div class="col-2 event_list-calendar">
							<div>
								<h5 class="event_list-month">{{ event.day.month }}</h5>
							</div>
							<div class="event_list-date">
								<h3>{{ event.day.day }}</h3>
							</div>            				
            			</div>
            			<div class="col">
            				<h4>{{ event.name }}</h4>
								<p><i class="fa fa-map-o"></i> {{ event.address }}</p>
								<p id='event-date'><i class="fa fa-clock-o" aria-hidden="true"></i> {{ event.day.time }}</p>
            				
            			</div>

            		</div>
            	</div>
            </a>
            {% endfor %}
        </div>
</div>

{% endblock %}