
<!-- Extend from the glaze_form.html template -->
{% extends "glaze/glaze_form.html" %}

{% block glaze_form_inputs %}

{# include 'bf_form.html' with form=form #}

{% if user.is_authenticated %}
    {% include "formality/form_fields.html" %}
{% else %}

<h1>You're not logged in!</h1>
<h5>Login before creating an event:</h5>
    <a class="btn btn-secondary" href=# onclick="renderGlaze('{% url 'member:login' %}')">
      Log In
    </a>

    <a class="btn btn-secondary" href=# onclick="renderGlaze('{% url 'member:signup' %}')">
          Sign Up
        </a>
{% endif %}

{% endblock %}

{# otjher script blocks were causing for the datetimepicker not to function properly #}
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
 