
/*** Start Formality **********************************************************/

  .formality-icon {
    position: absolute;
    top: 7px;
    right: -9px;
    border: 1px solid #CCCCCC;
    border-radius: 12px;
    padding: 3px 4px 3px 2px;
  }

  @media screen and (max-width: 575px) {
    .formality-icon {
      right: 15px;
    }
  }

/*** End Formality ************************************************************/
