{% load static %}
{% load widget_tweaks %}

<div class="form-group row">
  <label for="{{ field.name }}" class="col-sm-3 col-form-label">
    {% if field.label_transformed %}
      {{ field.label|title }}
    {% else %}
      {{ field.label }}
    {% endif %}
    {% if field.help_text %}
      <img class="formality-icon" src="{% static 'anonymous/img/icon/info-2x.png' %}" alt="i" title="{% if field.label %}{{ field.label }} Info{% else %}Info{% endif %}" data-content="{{ field.help_text }}" data-placement="bottom" onclick="$(this).popover('show');">
    {% endif %}
  </label>
  <div class="col-sm-9">
    {% render_field field class="form-control" %}
    {% if field.errors %}
      <div class="col-form-label text-danger">
        {% for error in field.errors %}
          {{ error|safe }}<br>
        {% endfor %}
      </div>
    {% endif %}
  </div>
</div>
